/* Diagnostic Styling */
/* * {
  outline: 2px dotted gray;
}  */

/* temp background color */
body {
    background: lightgray;
}
  
/* vertical and horizontal centering */
body {
  display: grid;
  place-content: center;
  height: 100vh;
}

h1 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 1rem;
  font-family: 'Roboto', sans-serif;

  animation-name: fadeInUp;
  animation-duration: 1s;
}

svg {
  width: 400px;
  height: 400px;

  animation-name: fadeInUp;
  animation-duration: 1s;

  /* transition: transform .2s;
  transform-origin: center center ; */

}

.icon-container {
  display: inline-block;
  cursor: pointer;
}

.squishy-icon {
  transition: transform 0.3s cubic-bezier(0.4, 0.0, 0.2, 1); /* Smooth animation */
  transform-origin: center; /* Transform around the center point */
}

.icon-container:active .squishy-icon {
  transform: scaleX(0.05); /* Compress width to 50% */
}

/* svg :active {
  animation: shrinkWidth 0.4s forwards;
}

@keyframes shrinkWidth {
  to {
    transform: scaleX(0.01);
  }
} */
